.notifications {
  position: relative;
  cursor: pointer;
}

.bell {
  font-size: 20px;
  color: #2c666e;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #2c666e;
  color: #f0edee;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}
