/* Styling for the navigation links */
.nav-ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px; /* Space between links */
}

.nav-ul li {
  display: inline; /* Ensure list items are inline */
}

.nav-ul li a {
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Optional: Adjust font size */
  font-weight: 500; /* Optional: Make text a bit bolder */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: color 0.3s ease; /* Smooth transition on hover */
}

.nav-ul li a:hover {
  color: #f0edee; /* Optional: Change color on hover (light color) */
}


@media (max-width: 768px) {
  .nav-ul {
    flex-direction: column;
    gap: 30px;
  }
}
