.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.logo-img {
  width: 200px;   /* default size */
  height: 90px;
  object-fit: contain;
  transition: width 0.3s ease, height 0.3s ease;
}

/* Tablet: width < 992px */
@media (max-width: 992px) {
  .logo-img {
    width: 50px;
    height: 50px;
  }
}

/* Mobile: width < 576px */
@media (max-width: 576px) {
  .logo-img {
    width: 100px;
    height: 80px;
  }
}
